<p id="notice"><%= notice %></p>

<h1>Moedas</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th  scope="col">Descrição</th>
      <th  scope="col">Sigla</th>
      <th  scope="col">Icone</th>
      <th  scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
       <!-- <td><img src="<%= coin.url_image %>" width="30px"></td> -->
         <td><%= image_tag coin.url_image, width:"30px" %></td>
        <td><%= link_to 'Ver', coin ,  class:"text-success"%></td>
        <td><%= link_to 'Editar', edit_coin_path(coin),  class:"text-primary" %></td>
        <td><%= link_to 'Excluir', coin, method: :delete, data: { confirm: 'Are you sure?' } , class:"text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Moeda', new_coin_path , class:"btn btn-primary"%>
